{% extends 'base.html' %} {% block contenido %}
<div class="container">
    <div class="row mt-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Bienvenido/a <i>{{ request.session.user.name }}</i></h1>
                <h2 class="card-subtitle mb-2 text-muted">Publica un mensaje</h2>
                <form action="/message/new" method="POST">
                    {% csrf_token %}
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensaje"></textarea>
                    </textarea>
                    <div class="d-grid  d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-outline-dark btn-sm mt-3">Publica un mensaje</button>
                    </div>
                    <input type="hidden" name="from" value="wall">
                </form>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="card">
            <div class="card-body">
                <h1>Mensajes:</h1>
                <hr> {%for msg in mensajes%}
                <h6 class="card-subtitle mb-2 text-muted">{{msg.autor.name}}- {{msg.created_at}}</h6>
                <div>
                    <h5 class="card-text" style="color:dodgerblue">{{msg.texto}} {% if msg.autor.name == request.session.user.name %}
                        <a href="#" class="btn  btn-sm btn-outline-primary btn-edit" value="{{msg.texto}}" data-bs-toggle="modal" data-bs-target="#EditMsg" msg_id="{{msg.id}}">Edit</a>
                        <a href="#" msg_id="{{msg.id}}" class="btn  btn-sm btn-outline-danger btn-delete" data-bs-toggle="modal" data-bs-target="#DelMsg">Eliminar</a> {% endif %}
                    </h5>
                </div>
                <hr>
                <h6>Comentarios:</h6>
                {% for comentario in msg.comentarios.all %}
                <h6 class="card-subtitle mb-2 text-muted">{{comentario.autor.name}}- {{comentario.created_at}}</h6>
                <div>
                    <ul>
                        <li>
                            {{comentario.texto}} {% if comentario.autor.name == request.session.user.name %}
                            <a href="#" class="btn  btn-sm btn-outline-success btn-edit-cmt" value="{{comentario.texto}}" data-bs-toggle="modal" data-bs-target="#EditCmt" cmt_id="{{comentario.id}}">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="#" cmt_id="{{comentario.id}}" class="btn  btn-sm btn-outline-danger btn-delete-cmt" data-bs-toggle="modal" data-bs-target="#DelCmt">
                                <i class="bi bi-trash"></i>
                            </a>
                            {% endif %}
                        </li>
                        {% empty %}
                        <li>
                            <i>Sin comentarios aún</i>
                        </li>
                    </ul>
                </div>
                {% endfor %}
                <div class="col-12 mt-3">
                    <form action="/comentario/new" method="POST">
                        {% csrf_token %}
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comentario"></textarea>
                        <div class="d-grid  d-md-flex justify-content-md-end mt-2">
                            <button type="submit" class="btn btn-outline-dark btn-sm mt-3">Publica un comentario</button>
                        </div>
                        <input type="hidden" name="mensaje_id" value="{{msg.id}}">
                    </form>
                </div>
                <hr> {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditMsg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" action="" method="POST" name="reg_edit" id="reg_edit">{% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar mensaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="modal_text" rows="3" name="texto"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <input type="submit" class="btn btn-success btn-editar" value="Guardar">
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="EditCmt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" action="" method="POST" name="cmt_edit" id="cmt_edit">{% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Comentario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" id="modal_text_cmt" rows="3" name="texto"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <input type="submit" class="btn btn-success btn-editar" value="Guardar">
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="DelMsg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" action="" method="POST" name="msg_del" id="msg_del">{% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Mensaje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que desea eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                <input type="submit" class="btn btn-danger btn-eliminar" value="Eliminar">
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="DelCmt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" action="" method="POST" name="cmt_del" id="cmt_del">{% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Comentario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                <input type="submit" class="btn btn-danger btn-eliminar" value="Eliminar">
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        EditMsg.addEventListener('shown.bs.modal', function() {
            myInput.focus()
        });
    });

    $('.btn-edit').on('click', function() {
        texto = $(this).attr('value')
        msg_id = $(this).attr('msg_id')
        $('#modal_text').val(texto)
        action = 'message/' + msg_id + '/edit'
        $('#reg_edit').attr('action', action)
        console.log(action)
    });

    $('.btn-edit-cmt').on('click', function() {
        texto = $(this).attr('value')
        cmt_id = $(this).attr('cmt_id')
        $('#modal_text_cmt').val(texto)
        action = 'comentario/' + cmt_id + '/edit'
        $('#cmt_edit').attr('action', action)
        console.log(action)
    });


    $('.btn-delete').on('click', function() {
        msg_id = $(this).attr('msg_id')
        action = 'message/' + msg_id + '/destroy'
        $('#msg_del').attr('action', action)
        console.log(action)
    });

    $('.btn-delete-cmt').on('click', function() {
        cmt_id = $(this).attr('cmt_id')
        action = 'comentario/' + cmt_id + '/destroy'
        $('#cmt_del').attr('action', action)
        console.log(action)
    });
</script>
{% endblock %}